@import "tailwindcss";

/* ჩვეულებრივი ბულეტები */
.swiper-pagination-bullet {
  background: white;
  opacity: 0.5;
  width: 12px;
  height: 12px;
}

/* აქტიური */
.swiper-pagination-bullet-active {
  background: #FF0000;
  opacity: 1;
  transform: scale(1.2);
}
